* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja-1 {
    background-color: grey;
    width: 200px;
    height: 150px;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1;
}


.caja-2 {
    background-color: coral;
    width: 200px;
    height: 150px;
    position: fixed;
    top: 60px;
    left: 60px;
}